{% extends 'base.html.twig' %}

{% block title %}Home Page{% endblock %}

{% block body %}
<main class="container mx-auto px-4 py-8">
    <h1 class="text-3xl font-bold  mb-4 ">
        Home Page
    </h1>
    <p >Welcome to the home page!</p>
</main>
{% endblock %}
